@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(5, 5, 5);
    background-image: 
    radial-gradient(ellipse at 0% 10%, rgb(10, 0, 0) 0%, transparent 50%), 
    radial-gradient(ellipse at 100% 100%, rgb(10, 0, 0) 0%, transparent 50%);
    height: 100vh;
}

.conteiner_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    color: white;
}

.conteiner_data input{
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 8px 13px;
    text-align: center;
    margin-bottom: 30px;
}

.conteiner_data input:focus{
    background-color: rgb(202, 230, 255);
    outline: none;
}

.conteiner_data button{
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 9px 40px;
    cursor: pointer;
    font-weight: bold;
}

.conteiner_data button:active{
    background-color: rgb(202, 230, 255)
}

.erros{
    color: red;
    font-size: 12px;
}

.conteiner_contador{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    color: white;
}

.conteiner_contador button{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transform: scale(2);
}

.conteiner_contador h1{
    font-weight: 300;
    font-size: 50px;
}

.conteiner_contador p{
    font-weight: bold;
}